[2012-09-19 21:13] toddgeist opened #1 "TimeZone in DTSTART break Subscribing when including Time"
Hello,

Thanks for making this package

The TimeStamp format for DTSTART and DTEND includes the TimeZone in the middle of the string. Like this:

DTSTART:20100827PDT130000

This causes Mac OSX Calendar and BusyCal to fail

Here is the error from the log
9/19/12 1:15:02.322 PM CalendarAgent[200]: **\* WARNING Invalid component, discarding: Error Domain=com.apple.iCalendar Code=1000 "DTSTART is requ

[2012-09-20 06:56] #1 closed, assigned to nobody

[2013-07-24 15:57] davesouthey opened #11 "Long DESCRIPTION is folding wrong - method fold"
I am getting results like the following from long descriptions.

DESCRIPTION:Description keeps on going and going and going and going and go

 ing and going and going and going and going and going and going and goi
 ng
 and going and going and going and going and going and going and goin
 g and
 going and going and going and going and going and going and going
  and goin
 g and going and going and

[2014-01-30 01:26] Arilas opened #13 "Create beta release tag with version"
Your Project using by many users, but if they want to more stability, he's need to provide some version, that have the same API without critical changes.

Currently your Project is ready to use in Production needs, but 'dev-master' in composer.json it's bad idea.

[2014-03-02 17:32] #13 closed, assigned to nobody

[2014-05-15 14:31] #11 closed, assigned to nobody

[2014-05-26 08:40] omervk opened #17 "Description field does not allow newlines"
The output file escapes \n into \n, even though the spec allows newlines in the description.

[2014-05-26 11:02] #17 closed, assigned to nobody

[2014-06-05 00:39] jonny-no1 opened #18 "Several attendees"
setAttendee method doesn't allow for several attendees.

[2014-11-15 23:26] cebe opened #23 "RFC 2445 is obsolete"
I have not checked the details about what has changed but up to date iCal implementations should refer to RFC 5545 as far as I see.

http://www.ietf.org/rfc/rfc5545.txt

[2014-11-21 06:39] php-workx opened #24 "X-WR-TIMEZONE not reliable for every calendar client"
I ran into several issues related to the timezone support with "X-WR-TIMEZONE" because not all clients are using this field. Also an interesting blog post related to that:

http://blog.jonudell.net/2011/10/17/x-wr-timezone-considered-harmful/

I will work on an extension to fully support VTIMEZONE definitions. So expected to see a pull request in the next days ...

[2014-11-21 11:03] php-workx opened #25 "Extend Recurrence Rule to make it more flexible"
We need to extend Recurrence Rule to make it more flexible. Also related to #24

[2014-11-28 13:47] #25 closed, assigned to nobody

[2014-11-28 13:47] #24 closed, assigned to nobody

[2014-12-05 08:43] #18 closed, assigned to nobody

[2015-01-15 10:57] barrymieny opened #32 "Consider implementing X-MICROSOFT-CDO-BUSYSTATUS"
We sometimes need to specify out-of-office (X-MICROSOFT-CDO-BUSYSTATUS:OOF) for the status, but this library doesn't support it at the moment. I don't know if this can be implemented as part of $event->setStatus or if it would need to be a separate new property. If this can't be implemented, is there a way to set a custom property manually?

[2015-01-15 17:32] navarr commented on #32
Microsoft Extensions to iCal *might* be out of scope of this project.

Though it would be fairly easy to write your own MicrosoftEvent that extends Event.  You'd want to add a protected variable with getters and setters for your busystatus, and you'd want to overwrite buildPropertyBag().  In your new buildPropertyBag, you'd call parent::buildPropertyBag() and then do

`$this->properties->set('X-MI

[2015-01-15 17:39] barrymieny commented on #32
Thanks, I'll have a look at that. I just thought it could possibly be included as another X-MICROSOFT-CDO-* property is already implemented for all-day events.

[2015-01-15 17:41] navarr commented on #32
I did say *might*.  It's up to @markuspoerschke and I guess anyone who wants to write the code.

[2015-01-16 18:02] fsateler opened #33 "setOrganizer is not very useful"
The format for the organizer field is a bit weird, and this library doesn't quite support it.

[2015-02-21 22:14] markuspoerschke commented on #32
Hey,
thanks for you ideas. At the moment we have already some Microsoft and Apple related features implemented. I think this quite useful because this is one of the major problem to keep the iCal file compatible with different readers. Common use cases are of course using Microsoft Outlook or Apple Calendar.

@barrymieny Feel free to open a merge request to add this functionality :smile: I the Mic

[2015-02-25 14:35] barrymieny commented on #32
@markuspoerschke, yes it does seem to be related. From what I can gather though, the Microsoft "OOF" value isn't equal to any of the RFC values. I will have a look at doing a merge after thinking through the best way to handle the "OOF" usage specifically. It would probably be best to just equate it to FBSTATUS BUSY.

[2015-03-04 10:25] gbaudoin opened #35 "The separator (semicolon) in Location (geo) is escaped in output"
So this gives geo:46.52028\;6.630208
Instead of geo:46.52028;6.630208
as per 3.8.1.6 in RFC 5545

[2015-03-05 22:43] markuspoerschke commented on #35
Hey,

I added an example on how to use it.

For me the following is working:

[code]

There is a comma instead of a semicolon. I think we should use a PHP class there instead of a string to pass the Geo Code...

[2015-03-29 22:55] mikeminckler commented on #33
The proper format for ORGANIZER is
ORGANIZER;CN=John Doe:mailto:johndoe@example.com

[2015-05-13 16:53] cmfcmf opened #37 "Add option to set rrule from string"
I have all my rrules stored as strings (like `FREQ=WEEKLY;INTERVAL=1;COUNT=30`). I would like to directly pass that string to the `Eluceo/iCal/Component/Event`.
I tried to use `$vEvent->setRecurrenceRule($myRRule);`, but it only accepts a `RecurrenceRule` object. The `RecurrenceRule` object, however, has no method to set the rrule from string. So I basically have to parse my stored rrules and then

[2015-05-16 05:38] Braunson commented on #23
:+1: Any potential updates to 5545?

[2015-06-02 14:27] edrush opened #39 "iCal as Symfony2 bundle with storable entities?"
Hi,

I'm searching for an event library to include in a Symfony2 application. I'd like to store events in a database and be able to deliver them in iCalendar format - your package looks pretty good for this, right? Have there ever been thoughts to deliver it as a Symfony bundle?
I'm thinking about doing so, to then add database mappings to your code to manage events in a database, while not messin

[2015-06-03 21:10] brendantwhite opened #41 "No examples for VALARM in README.md or iCal/examples/"
The README.md file says at the top that VALARM components are supported, but there are no examples in the main part of the README.md and no examples in the iCal/examples/exampleN.php files.

Would anyone object if I were to write some text for README.md and/or add a VALARM component to one of the example files, and put in a merge request?

[2015-07-10 17:25] thomwiggers opened #43 "If the description contains \r, they don't get stripped out or replaced."
This breaks some iCal implementations such as http://severinghaus.org/projects/icv/ or ownCloud

example: http://rded.nl/test.ics

[2015-07-12 17:55] markuspoerschke commented on #43
@thomwiggers I merged #36. Can you check if this fixes your problem?

[2015-07-12 18:17] markuspoerschke commented on #33
This has been changed with: #42

[2015-07-12 18:17] #33 closed

[2015-07-12 18:17] markuspoerschke commented on #33
Thanks for reporting!

[2015-07-15 13:54] thomwiggers commented on #43
It replaces `\r`, so it would fix my problem. I'm currently unable to test this, but I'll just come back to this if it doesn't work (which seems quite unlikely).

[2015-07-15 13:54] #43 closed

[2015-07-20 15:11] waza-ari commented on #41
I would love to see this, as I am currently trying to figure out how the alarm settings work.

[2015-07-30 15:25] chrisforrence commented on #41
:+1:

[2015-07-31 05:50] PowerKiKi commented on #23
The differences seems rather minor, according to [what is listed in RFC 5545](https://tools.ietf.org/html/rfc5545#appendix-A).

While it would be nice, and should not be a huge effort, to be compliant, I don't think it matters that much meanwhile...

[2015-07-31 09:07] PowerKiKi opened #45 "Interest for a ICS parser ?"
I am looking for an ICS lib that would allow me to read and write ICS files. Out of all projects I looked at, this one is definitely the most modern one and promising. But it unfortunately lacks a parser for my need. So the question is, **if** I was to implement a parser and submit a PR, would you accept it ? Or is it out of scope for this project ?

I usually quite like the idea to have model cla

[2015-07-31 13:17] tominon commented on #45
There is no need to reinvent the wheel. Check this library https://github.com/fruux/sabre-vobject

[2015-07-31 13:40] PowerKiKi commented on #45
Great ! sabre-vobject looks amazing, thanks a lot !

... if you don't mind me asking, doesn't sabre-vobject make this project useless ? or would there be a need for for both projects to be used together ?

Closing this issue, since I'll very likely be using sabre-vobject.

[2015-07-31 13:40] #45 closed

[2015-07-31 14:25] tominon commented on #45
I wouldn't call it "useless". It's a lightweight solution for creating iCal files only. If you need to parse and manipulate ICS files as well, go for sabre-vobject.

[2015-07-31 14:48] PowerKiKi commented on #45
Thanks a lot for your advice, have a great week-end !

[2015-07-31 15:48] troccoli opened #46 "ORGANIZER does not support property parameters"
ORGANIZER, as ATTENDEE, supports parameters according to RFC2445. At the moment you can only set the value with `$vEvent->setOrganizer('mailto:giulio@troccoli.it')`, which is rendered as `ORGANIZER:mailto:giulio@troccoli.it`.

It would be nice if we could set parameters too, in a similar way as we for for attendees:

    $vEvent->setOrganizer('mailto:giulio@troccoli.it', ['CN' => 'Giulio Troccoli'

[2015-08-09 10:22] edrush opened #49 "Support for EXDATE property"
Hi,

great library, thanks! Are you planning to support the EXDATE property for recurring events?

[2015-08-29 15:13] fguillot opened #51 "Add support for VTODO objects"
Feature request to add VTODO: https://en.wikipedia.org/wiki/ICalendar#To-do_.28VTODO.29

https://github.com/fguillot/kanboard/issues/1045

[2015-09-10 08:29] mybigman opened #52 "X-ALT-DESC"
Hi,

Great library.

Is it possible to set the X-ALT-DESC property - if so how?

Or

How do I stop the description field being parsed... Some text comes out blue, some the font size has increased.

Thanks

[2015-09-18 09:34] Glifery commented on #39
@edrush maybe you have some progress in this direction?

[2015-09-24 07:30] edrush commented on #39
@Glifery Hi, yes I built a bundle and we're currently using it in one of our projects. I'm about to release a first version in the next days, I'll let you know...

[2015-09-24 15:32] edrush commented on #39
@Glifery Hi, so I gave my best and made a release of our ICalBundle that supports https://github.com/markuspoerschke/iCal, you'll find it here: https://github.com/xima-media/ical-bundle. It's my first Symfony bundle to be published, so please let me know if you have questions or something seems totally weird to you :)

[2015-10-07 04:28] markuspoerschke commented on #23
As far as I could read the current feature set will support both. I will update the README.md so that we will follow RFC 5545 rather than 2445.

Thanks for this issue :smiley:

[2015-11-13 22:43] markuspoerschke commented on #49
Hey edrush,

since this was implemented in #50 I will close this issue.

:smile:

[2015-11-13 22:43] #49 closed

[2015-11-13 22:44] markuspoerschke commented on #23
I will close this issue. README.md was changed. New features should follow RFC 5545 now!

[2015-11-13 22:45] #35 closed

[2015-11-13 22:48] markuspoerschke commented on #46
In version 0.9 the interface was changed. You have to pass now a ```Property\Oraganizer``` object. This should solve you issue?

[2015-11-13 22:54] markuspoerschke commented on #37
I think we need something that can parse content from an ICS file into the corresponding PHP objects. The idea behind this library is to work with PHP objects rather than plain text. I would prefer a method like ```$myRecurrenceRule = RecurrenceRule::createFromString('FREQ=WEEKLY;INTERVAL=1;COUNT=30')```.

[2015-11-15 16:58] cmfcmf commented on #37
Yes, something along these lines would be great.

[2015-11-18 10:13] webcrazy opened #56 "How can I get setTitle"
Hi

I'd like to get Title. I don't see the method setTitle();
How can I get that?

Thanks

[2015-11-23 09:48] webcrazy commented on #56
OK. I get it by getSummary().

[2015-11-23 09:48] #56 closed

[2015-11-25 18:40] jrjohnson opened #57 "0.9.0 is not showing up in packagist"
Makes updating annoying:
https://packagist.org/packages/eluceo/ical

[2015-12-03 14:49] markuspoerschke commented on #57
Hey,

you are right. The package was not updated on packagist. I triggered the update manually. The new version is now available also on packagist.

Thanks!
Markus

[2015-12-03 14:49] #57 closed

[2015-12-14 15:34] smichaelsen opened #58 "Provide a ComponentInterface"
In my application i already have event objects. Now when I add my Events into an Calendar I need a foreach loop and create an `Eluceo\iCal\Component\Event` and translate all data.

Better: Provide an interface that my Event class can implement so I can pass them directly into the calender.

[2015-12-22 13:40] abimelex commented on #41
+1 to this. Has anyone already an working example?

[2015-12-22 16:00] abimelex opened #59 "SUMMARY is missing in alarm component"
According to http://www.kanzaki.com/docs/ical/valarm.html using EMAIL as an action the SUMMARY property is required, but in the class there is no field for this.

[2015-12-22 16:09] abimelex commented on #41
Working example in Symfony:
`
        $vAlarm = new \Eluceo\iCal\Component\Alarm();
        $vAlarm->setAction('DISPLAY');
        $vAlarm->setTrigger('-P1W'); // 1 Week before event starts
        $vAlarm->setDescription('Event description');

        $vEvent = new \Eluceo\iCal\Component\Event();
         // your event properties here...

        $vEvent->addComponent($vAlarm);
        $vCalendar

[2016-01-07 15:10] DanFMoore opened #62 "Description doesn't allow new lines"
If I call `Event->setDescription()` with `"\n"` (so that the new line is rendered), then the description field ends up with a new line being inserted and appearing like this:

When this is imported into an application, then only the first line of the description appears.

If I call the same method with `'\n'` (a literal `\n`) then the description field ends up like this:

`DESCRIPTION:First line o

[2016-01-07 15:36] navarr commented on #62
This is probably related to #61 and #53

[2016-01-12 15:07] buergimi opened #63 "URL value types should not be escaped"
In version 0.9.0, URL and CAL-ADDRESS value types are treated like ordinary string values and escaped like them. Instead, they should not be escaped.

Fixing this bug would be useful if someone wants to add an attendee to an event that does not have an email address. 'mailto:;' could be supplied for that.

[2016-02-05 19:03] #46 closed

[2016-03-16 16:23] abimelex commented on #52
Looking forward to this. When will it be released?

[2016-04-20 11:04] tswestendorp opened #67 "Apple Calendar crashes upon import/subscription"
Apple Calendar crashes when importing or subscribing to a vCal created with this package... at least on the most recent versions of OS X.

It looks like it has to do with a missing entry called **X-APPLE-CALENDAR-COLOR**

[2016-04-20 21:33] bpilkerton opened #69 "Create new tagged release"
Hi there, would it be possible to get a new tagged release? It seems there are a bunch of changes from the 0.9 release and what's on master. Thanks!

[2016-04-26 11:32] #67 closed

[2016-04-26 12:28] markuspoerschke commented on #52
Released with Verison 0.10.0

[2016-04-26 12:28] #52 closed

[2016-04-27 04:13] c33s opened #71 "Add support for ATTACH in Events"
attach is the way of thunderbird to add multiple webpages or links to documents to an event.

[code]

[2016-04-28 16:03] bpilkerton commented on #69
Thanks for making the 0.10.0 release! Can packagist be updated as well? Thanks again.

[2016-04-28 20:09] markuspoerschke commented on #69
@bpilkerton I am always missing that... done!

[2016-04-28 20:09] #69 closed

[2016-05-03 09:23] halucin0g3n commented on #37
I've been modified a little bit to allow me to use a string RRULE;

In property.php:

`$line .= ':' . $this->value->getEscapedValue();`

change to

[code]

and in Event.php

[code]

change to

[code]

and when you set the RRULE to the event object, just do it:

`$vEvent->setRecurrenceRule("DAILY;INTERVAL=1;COUNT=5");`

just make sure your RRULE is already validated.

[2016-05-07 19:54] irekasoft opened #72 "cannot be downloaded on ios"
the generated ics file cannot be downlaoded on ios only show the text

[2016-05-12 17:12] markuspoerschke commented on #72
Do you send the correct HTTP headers? Maybe this question on Stackoverflow can help you?

http://stackoverflow.com/a/1464355

[2016-05-12 17:16] markuspoerschke commented on #62
Is this still relevant?

[2016-06-01 10:57] sgehrig opened #73 "Problem with GEO property when importing into Google Calendar"
It seems as if the Google Calendar does not support the `GEO` property that was added with commit 7a3751f615fb4c53ccf174de7ff167f0b62da6b8 (this is also addressed in pull request #66). Importing an event with a `GEO` property fails in Google Calendar.

There should be an option to disable the `GEO` property because setting the geo location works perfectly for iOS and Mac using the  `X-APPLE-STRUCT

[2016-06-01 11:00] sgehrig commented on #73
<img width="472" alt="bildschirmfoto 2016-06-01 um 13 00 04" src="https://cloud.githubusercontent.com/assets/43394/15707383/ca3e9f4a-27f8-11e6-933a-8e99fdb222d6.png">

[2016-06-01 11:02] sgehrig commented on #73
The iCal used looks like:

[code]

[2016-06-01 11:06] sgehrig commented on #73
Just dug around a little bit and the problem is that [RFC 5545](https://tools.ietf.org/html/rfc5545#section-3.8.1.6) says that the **The value MUST be two SEMICOLON-separated FLOAT values.** while the library uses an escaped comma to separate lo latitude and longitude - it just reuses the `locationGeo` property that's being put into the Apple X-property.

[2016-06-05 10:13] wernerkrauss commented on #72
Same issue here, works on windows but not on mac. Running the file through a [validator](http://icalendar.org/validator.html) i get:

[2016-06-09 08:59] #72 closed

[2016-07-05 09:08] sgehrig commented on #73
Fixed with pull request #74 - can be closed.

[2016-07-16 02:13] ryanmortier opened #75 "I don't understand how to setOrganizer? Can you document this?"
Sorry, I've been trying to figure out how to set an organizer. I did this:

[code]

However, according to this: http://www.kanzaki.com/docs/ical/organizer.html

The output should look like this:  `ORGANIZER;CN=John Smith:MAILTO:john@example.com` rather than this: `ORGANIZER:john@example.com`

Am I doing something wrong?

[2016-07-19 08:53] #73 closed

[2016-07-19 08:53] markuspoerschke commented on #73
Thanks for your contribution!

[2016-07-27 14:17] ryanmortier commented on #75
Never mind. I was able to figure it out by looking at the test cases here:

https://github.com/markuspoerschke/iCal/blob/2dd99c12c0aa961c541380ab0c113135e14af33e/tests/Eluceo/iCal/Property/Event/OrganizerTest.php#L32-L49

[2016-07-27 14:17] #75 closed

[2016-08-02 08:56] alexjeen commented on #41
Is it possible to add this to the documentation? I've been searching for this.

[2016-08-12 18:24] lordspace opened #76 "Single quote gets encoded as &#039\; and shown in Google Calendar"
![image](https://cloud.githubusercontent.com/assets/137558/17632804/f3eddf64-60d2-11e6-9f96-831bbfc3c48d.png)

Workaround:

[code]

[2016-09-09 17:21] jarofgreen opened #79 "GEO tag outputs wrong code?"
This seems wrong.

It outputs:

[code]

This does not validate, and I think the spec agrees on this: https://tools.ietf.org/html/rfc5545#section-3.8.1.6

If I edit the file to:

[code]

It validates.

(I used http://severinghaus.org/projects/icv/ as a validator.)

ps. Also, is this a problem for:

[code]

[2016-09-19 12:59] usernameiswayne opened #80 "Events list?"
Is there any list with all events or just the examples?

[2016-10-14 08:16] kostcher commented on #80
``<?
$vCalendar = new \Eluceo\iCal\Component\Calendar('www.example.com');
$vEvent = new \Eluceo\iCal\Component\Event();
$vEvent
	->setDtStart(new \DateTime('2016-11-12'))
	->setDtEnd(new \DateTime('2016-11-13'))
	->setNoTime(true)
	->setSummary('NAME_EVENT1');

$vCalendar->addComponent($vEvent, 0);

$vEvent = new \Eluceo\iCal\Component\Event();
$vEvent
	->setDtStart(new \DateTime('2016-11-14'))
	-

[2017-01-10 08:16] naneri opened #81 "Is there a way to change sync frequency?"
I have imported the cal generated by this package to outlook and it says that it will sync once in 168 hours, due to the limit set by the calendar provider. Is there a way to change this ?

[2017-01-10 08:58] markuspoerschke commented on #81
Hey @naneri,

I am not aware of any restriction that can be set in _.ics files_ to prevent the client to update. Maybe you can show more of your problem? How does your generated _.ics file_ look like? How does the code look like that generates the file?

[2017-01-10 09:10] naneri commented on #81
[code]
Here is the code.

[2017-01-10 09:10] naneri commented on #81
BEGIN:VCALENDAR
VERSION:2.0
PRODID:http://anya.dev
X-PUBLISHED-TTL:P1W
BEGIN:VEVENT
UID:58748a622bdc4
DTSTART;VALUE=DATE:20161229
SEQUENCE:0
TRANSP:OPAQUE
DTEND;VALUE=DATE:20161229
SUMMARY:breakfast
CLASS:PUBLIC
X-MICROSOFT-CDO-ALLDAYEVENT:TRUE
DTSTAMP:20170110T131650Z
END:VEVENT
BEGIN:VEVENT
UID:58748a622bdc4
DTSTART;VALUE=DATE:20161229
SEQUENCE:0
TRANSP:OPAQUE
DTEND;VALUE=DATE:20161229
SUMMARY:b

[2017-01-11 10:37] bhofm opened #82 "Add possibility to add custom calendar properties"
As far as I have seen in the code it is not possible to add custom properties, right?
Is there any reason for that? Maybe it was your intention to only support the properties defined by the RFC?

There are several already existing properties one might use (e.g. X-ALT-DESC, ...) or even custom properties only some clients may interpret (e.g. needed for a customer application).
Wouldn't it be helpfu

[2017-01-13 14:27] bhofm commented on #82
Any opinions?

[2017-01-16 12:15] markuspoerschke commented on #82
Hey @bhofm,

thanks for you question.

The original idea of this library was to create an abstraction layer for creating _.ics_ files. I wanted to avoid to think about any iCal related RFCs. Back then I was not thinking about the point that there are many more people using my library but needing more properties.

Depending on the feature it looks like a good idea to add the additional properties.

[2017-01-16 12:23] markuspoerschke commented on #81
In the generated _.ics_ file I cannot see anything that will prevent the consumer/client to update the information from that file. Normally caching would be the concern of a different layer. Normally the iCal files are transferred using HTTP. Any rule for caching etc. could be made there.

One thing that looks wrong in the generated is that the events have the same UID instead having their own UID

[2017-01-16 12:25] markuspoerschke commented on #81
As a conclusion: to me this problem looks like a problem fro the client rather than from the generated .ics file. You could also try another client instead of Outlook to verify that.

[2017-01-16 12:26] markuspoerschke commented on #80
I will close this ticket since there is no further activity on this ticket for month.

[2017-01-16 12:26] #80 closed

[2017-01-17 18:50] naneri commented on #81
@markuspoerschke it seems that the problem is with Microsoft Outlook, it thinks that all .ics set update rate to 168 hours, by default, and for instance on Mac you can sync the events manually or with much higher frequence (like every five minutes at least).

[2017-02-02 09:45] nikosv commented on #62
Any solution or workaround on this?

[2017-02-02 10:25] nikosv commented on #62
Sorry. it looks like the workaround is to use "dev-master" ;-)

[2017-02-20 10:52] naffiq opened #84 "Empty events after cancelling"
Hello and thank you for this great extension!

I'm having an issue with cancelling an event, which is creation of empty event.

For example I have downloaded an `.ics` file and added it to my calendar: http://bit.ly/2kZhUCf

Then I'm creating event cancellation file with this code:
[code]

And I get following result: http://bit.ly/2lCho0D

When I dig into generated `.ics` file, I see that it conta

[2017-03-11 09:09] sc0rp10 opened #86 "DateTimesProperty should accept DateTimeInterface, not only DateTime"
Now constructor fails on `DateTimeImmutable`

[2017-03-12 23:59] navarr commented on #86
Current minimum requirement is PHP 5.3

Usage of \DateTimeInterface will bump the minimum requirement to 5.5.0

[2017-03-16 13:39] christopher-evans opened #87 "Support for time zone ID prefix"
Both [rfc2445](https://tools.ietf.org/html/rfc2445#section-4.2.19) and [rfc5545](https://tools.ietf.org/html/rfc5545#section-3.2.19) define an optional '/' prefix for the time zone.  Since the `Eluceo\iCal\Util\DateUtil` class is pulling the time zone out of the `DateTime` object there's no way to set the prefix.

[2017-03-16 14:15] navarr commented on #87
Out of curiosity - is there a use case for adding this prefix?

[2017-03-16 14:17] navarr commented on #84
This is expected behavior.  iCal is a utility library, as such it does no storing of prior events for retrieval (as you seem to be expecting by creating an event with the ID).

You should utilize the same code that created the initial event and then add `->setCancelled(true)` to generate a new, stand-alone, cancelled event that maintains the same data as the original.

[2017-03-16 18:04] christopher-evans commented on #87
As far as I can see in the spec the prefix isn't actually _required_ when looking up against an external database/registry, but my interpretation was it should be used whenever the VTIMEZONE is defined externally, not in the ical message.

It's useful if you can set the time zone more generally (vs. the value given by `$dateTime->getTimezone()->getName()`).  If an app is using a time zone database

[2017-03-16 21:26] markuspoerschke commented on #86
I think since PHP 5.3 is no longer supported we should drop that support as soon as there are some more and bigger changes coming in. But for now I don’t see a reason to drop PHP 5.3 support only because of `\DateTimeInterface` usage.

[2017-03-27 10:03] devkiran commented on #80
@markuspoerschke  I have tried above method to add multiple events to components. But when I try validating the output using https://icalendar.org/validator.html, it is showing invalid. Do you have any idea about this error ?

[2017-04-04 17:50] markuspoerschke commented on #87
Sure. Only the timezones supported by PHP are valid. Code like
[code]
will result in an error.

I don’t see any use case at the moment. But if you want to create a merge request that will allow to override the used time zone, feel free to contribute! :)

[2017-04-04 20:36] markuspoerschke commented on #23
Finally fixed by https://github.com/markuspoerschke/iCal/commit/1933a8c5b58b9c1c31bcf1d6a53d40d51ce85156

Thank you all for your participation in this project!

[2017-04-04 20:36] #23 closed

[2017-04-06 08:42] KevinHoughton opened #88 "Generated ical not importing events in outlook"
Reference to this issue on stackoverflow: http://stackoverflow.com/questions/43249331/outlook-web-app-is-not-importing-events-from-my-generated-icalendar

When a student wants to subscribe to his or her calender, we generate an URL which can be filled into Google Calender and Outlook. Except the last mentioned `outlook` it isn't importing any events.

Example of how our generated ICS looks like. T

[2017-04-06 08:46] KevinHoughton commented on #88
Test case: https://beta.onderwijsonline.nl/calendar/ical/eyJpdiI6ImZqU0hPZlwvcnIrMmNubWRadE01N1NnPT0iLCJ2YWx1ZSI6IjB2QzhabUJVQ3VreDNFbGtyWHhNaGc9PSIsIm1hYyI6ImU5YmMzNGZmNzY3NDMwNjk3OTk4ZTA2ZTVlOWJmYzYxYmMxOGY5ZjU2MDFmYmZlOTVkMGE4OTM3ZGM4MjEwYzQifQ==

[2017-04-06 08:47] markuspoerschke commented on #88
There is no `DTSTART` within the generated ical file. Which version do you use? Maybe this is fixed for all day events in #83 ?

[2017-04-06 09:01] KevinHoughton commented on #88
Version that is being used is: 0.10.*, I just updated to 0.11.* on the servers, which is on the url I mentioned above. But still no luck on Outlook.

[2017-04-06 09:11] KevinHoughton commented on #88
Could there be an issue in the protocol that is being used? In every example outlook uses `webcal://`, not `https://` or `http://`.

[2017-04-07 15:12] Fh-jashmore commented on #88
You said this is being output to a url? Are there any other headers?

[2017-04-08 10:18] Ydalb opened #90 "setRecurrenceRuleAsString() ?"
Hey !
First of all, nice work, very usefull ! :)

I think it could be nice to implement a setRecurrenceRuleAsString() function for those (like me :D) who has already the RRULE in string format.

I'll try to PR something, i'm not really familiar with this.

Regards,

[2017-04-08 10:39] cmfcmf commented on #90
This looks like a duplicate of #37.

[2017-04-08 10:53] Ydalb commented on #90
Oh i'm sorry, indeed ! Closing ticket :)

[2017-04-08 10:53] #90 closed

[2017-04-08 10:59] Ydalb commented on #37
Maybe we could use the excellent work of https://github.com/simshaun/recurr ?

[2017-04-09 15:55] markuspoerschke commented on #81
@naneri Can I close this issue then?

[2017-04-09 15:56] markuspoerschke commented on #84
@naffiq does @navarr’s answer solve your problem?

[2017-04-09 16:10] markuspoerschke commented on #86
The master branch requires PHP 7.0 now. Therefore I replaced all `\DateTime` code hintings with `\DateTimeInterface`.

@sc0rp10 thanks for your valuable input.
@navarr thanks for your support with this task! :)

[2017-04-09 16:10] #86 closed

[2017-04-09 16:15] #62 closed

[2017-04-09 16:20] markuspoerschke commented on #37
@Ydalb having a library to integrate into this project would be nice. I will check how I can integrate that into this library!

[2017-04-09 16:23] markuspoerschke commented on #87
Solved with #89

[2017-04-09 16:23] #87 closed

[2017-04-10 04:38] naffiq commented on #84
Thanks for the answer @navarr, I'll try it out!
@markuspoerschke yeah, I think that's it!

[2017-04-10 04:38] #84 closed

[2017-04-11 10:44] KevinHoughton commented on #88
@Fh-jashmore all headers are set as said in the documentation.

[code]

[2017-04-13 09:55] KevinHoughton commented on #88
What's the progress for this issue? @markuspoerschke

[2017-04-13 11:54] markuspoerschke commented on #88
@KevinHoughton I just tested the URL above and the events are working in Apple’s calendar. There I can see the events. Sadly I have not access to Outlook where I could test your file. To mee it looks good. I will attach a screenshot how it looks like to me.

<img width="1270" alt="ical" src="https://cloud.githubusercontent.com/assets/1222377/25003631/ba84d9c4-2050-11e7-943a-79fb2bfe6396.png">

[2017-04-13 12:01] markuspoerschke commented on #88
Did you try to simplify the calendar file for outlook? Mayb you can first start with a simple event with title and time only. And later on you could enable timezone etc. Maybe that could be a possibility to dissect and finally find the problem.

[2017-04-13 12:07] Fh-jashmore commented on #88
I spent around 8 hours trying to duplicate outlook files that were working with outlook. I couldn't figure it out. And I tried simple stuff. I'm not 100% sure its the calendar file.

[2017-04-18 09:01] KevinHoughton commented on #88
Maybe this helps?

https://icalendar.org/validator.html?url=https://beta.onderwijsonline.nl/calendar/ical/eyJpdiI6InIzZ3lXbjcwTTBRU3RpNE91aDRVdGc9PSIsInZhbHVlIjoiSHo4OUcxbGZjUVJxNHlzNndnK1NKQT09IiwibWFjIjoiZDAwY2JlMjM1NDI1OTk0OWVmYjViNzQzNmJkM2EwM2VkMTY1M2QwNmEyZThiNzI0MTJhNmM4YjFlMmZlY2UxNSJ9

[2017-04-18 14:31] KevinHoughton commented on #88
@markuspoerschke I've fixed it. I've added the extra code from example 5 and made my events using datetime.

[code]

[2017-04-18 14:31] #88 closed

[2017-04-20 22:11] markuspoerschke commented on #79
@jarofgreen the fix is now available in master branch. Maybe you can have a look?

[2017-04-24 21:01] jrjohnson commented on #81
I would guess it is respecting `X-PUBLISHED-TTL:P1W` 1 Week being 168 hours. You can change that with `$vCalendar->setPublishedTTL('P1H');` (changes it to one hour).

[2017-04-24 21:07] markuspoerschke commented on #81
I was really not ready this issue carefully enough.

@jrjohnson Do you have expirience with this property? Do you think the default value of 1 week makes sense? Maybe it is better to drop the default and make it optional?

[2017-04-24 21:08] #79 closed

[2017-04-24 21:10] jrjohnson opened #91 "PHP Requirement confusion"
0.11.2 is marked as PHP 5 compatible, but there is PHP 7 only code:
https://github.com/markuspoerschke/iCal/blob/0.11.2/src/Property/Event/Geo.php
in at least that spot. `master` is marked as PHP 7+ so maybe just a tagging issue?

[2017-04-24 21:14] markuspoerschke opened #92 "Write more detailed documentation"
A lot of aspects of this library aren’t documented very well.

* Currently the documentation is only a rough summary of the basic usage: creating simple ics files.
* There should be a more detailed explanation.
* Also the examples need more explanation.
* Maybe generated PHPDoc can be added.
* Full aspects of this issue are tbd.
* Some methods are confusing like https://github.com/markuspoerschke/

[2017-04-24 21:27] markuspoerschke commented on #91
Actually true. But funily you can use it anyways because the classes are in the wrong folder. Let me fix that.

[2017-04-24 21:38] markuspoerschke commented on #91
Versions `< 0.12` should be compatible with PHP 5.3. The compatibility for the older PHP versions was dropped in version `0.12`. I wanted to backport this fix but I wasn’t paying that much attention on testing. ;)

Thanks for creating this issue! 👍

[2017-04-24 21:40] markuspoerschke commented on #91
I will tag a new Version of `0.11.*` tomorrow (my timezone is GMT+02).

[2017-04-24 21:40] #91 closed

[2017-04-24 21:41] jrjohnson commented on #81
I've personally always set it at one hour - but that makes the most sense for our use case.  I would see removing the default as a breaking change  for anyone relying on it - but other than that I only have our own usage to compare it to.

[2017-04-24 21:42] jrjohnson commented on #91
No problem - I was surprised it ran just fine - other than the PR I put in.  Thanks for the fix - no rush.

[2017-04-24 21:59] markuspoerschke commented on #81
I removed the default value for `X-PUBLISHED-TTL`. This library is for creating `.ics` as well as for creating endpoints providing icalendar data for sync. I think the value isn’t needed as default for the most people and it can be setted very easily. The absent of this value is at least not hindering the clients from updating as often as they want.

The unpublished version 0.12 contains breaking

[2017-04-24 21:59] #81 closed

[2017-04-25 07:56] sgehrig opened #94 "Version 0.11.2 uses PHP 7 features and breaks BC with PHP < 7"
The `Eluceo\iCal\Property\Event\Geo` class uses PHP 7 scalar type hints and therefore breaks BC with PHP < 7. It should be compatible with PHP >= 5.3.0 as stated in `composer.json`.

If PHP 7 is a strict requirement now, this version should be a new major version to follow semantic versioning IMHO.

[code]

[2017-04-25 08:30] markuspoerschke commented on #94
Same as #91. I will create a tag now.

[2017-04-25 08:30] #94 closed

[2017-04-25 08:30] markuspoerschke commented on #94
Thanks for reporting!

[2017-04-25 08:34] markuspoerschke commented on #94
Should be fixed in `0.11.3`. PHP will become a requirement in the next Version `0.12.0`.

[2017-04-25 08:35] markuspoerschke commented on #91
Tagged 0.11.3

[2017-04-27 21:53] majkel89 opened #95 "Event::setLocation fails on PHP 5.x"
More precisely Geo class is PHP 7 compliant (uses scalar type hints).

There is no unit tests that covers this class so the they always passes

[2017-04-27 22:36] #95 closed

[2017-05-10 02:06] dwenaus commented on #92
Yes please!

[2017-05-10 12:09] dwenaus commented on #71
would a PR be accepted for this?

[2017-05-10 20:23] markuspoerschke commented on #71
@dwenaus I am very glad about every PR opened! 😄

[2017-05-13 08:26] kaju74 opened #96 "Last day not shown in calendar?"
Hi,

my iCal is delivered like this:

[code]
The problem is, that my calendar shows the event from 06/30/2017 to 07/01/2017 instead of 07/02/2017. Why does the last day is missing or what did I wrong?

Thank you,
Marc

[2017-05-13 08:28] markuspoerschke commented on #96
Guten Morgen Marc,

how does the code look like that generates the iCal file? Do you have an example?

Maybe you can try to turn of the timezone because you have an all day event:
[code]

[2017-05-15 05:00] kaju74 commented on #96
HI.

This makes no difference....so here's my full code:

`
public function ical($id)
{
    // try to find user by id
    $user = User::...;

    // create new calendar
    $calendar = new Calendar('URL');
    $calendar->setName('Calendar Name');
    $calendar->setCalId(hash('ripemd160', $user->id));
    $calendar->setDescription('Calender Description');
    $calendar->setPublishedTTL('PT30M');

[2017-05-19 18:24] kaju74 commented on #96
Hi.

Any progress here or should I try to fix it myself, if you haven't time?

Best regards,
Marc

[2017-05-21 20:22] markuspoerschke commented on #96
@kaju74 please feel free to contribute a fix if you can. This is an open source project that I am maintaining in my freetime. I am happy about every contribution.

Regarding your generated iCal file. The `DTSTART;TZID=Europe/Berlin;VALUE=DATE:20170630` property cotains the timezone. That was removed in newer version of this library. Can you check if you can update to a newer version?

[2017-05-21 20:23] markuspoerschke commented on #96
Funnily in this issue it is reported that the event is to short and in #83 @Seldaek found out that events are to long.

[2017-05-23 19:23] kaju74 commented on #96
Yep - this fixes the problem. Didn't noticed that there's a new version avaiable ;-)

Thank you & keep up this great work...

kaju

[2017-05-23 19:40] #96 closed

[2017-05-29 11:19] ajoudeh opened #97 "Add Attendees"
Hi,

How i can add Attendees to ics. can you give the the code?

Thanks,

[2017-05-30 09:22] markuspoerschke commented on #97
@navarr can you help here?

[2017-05-30 20:18] navarr commented on #97
Hey @ajoudeh,

Once you have your iCal event component setup (like in the README), you can add Attendees to it like this:

`$vEvent->addAttendee($attendee)` where `$attendee` is a URI.  For example, you wanted to invite john@example.org, you would be able to simply do

`$vEvent->addAttendee('MAILTO:john@example.org')`

You may additionally specify a second parameter containing additional informati

[2017-06-04 10:02] ajoudeh commented on #97
Thank you very much for your help.

[2017-06-04 20:10] markuspoerschke commented on #97
@navarr Thanks for the detailed answer. I linked your comment in #92 so the information will not be lost when the documentation is written 👍

I close this issue since the question was answered.

[2017-06-04 20:10] #97 closed

[2017-06-05 04:58] piyushkantm opened #98 "Adding 4 days in end date if no time is true"
There is an issue which is caused on the following conditions:

`$event = new Event('some UID')`
`$event->setDtStart($startDate);`
`$event->setDtEnd($endDate);`
`$event->setNoTime(true);`

What is the point of adding 1 day to the end date if no time is true?
https://github.com/markuspoerschke/iCal/blob/master/src/Component/Event.php#L261

This line gets executed 4 times and increases the end date

[2017-06-05 13:21] navarr commented on #98
A workaround until a fix is implemented would be to create a new `$endDate` for each iteration.

The problem is, of course, that since the date is mutable when setNoTime increments the date it's incrementing the same object that's being passed around to all the events.

setNoTime indicates that it's an all day event, and so sets the endDate to exactly 24 hours after the start date.

The point of a

[2017-06-05 18:29] piyushkantm commented on #98
Thanks for quick response. but i do not follow what you mean by

Even if we change `$this->dtEnd->add(new \DateInterval('P1D'));` to
`$this->dtEnd = (clone $this->dtEnd)->add(new \DateInterval('P1D'));`

[2017-06-05 20:18] markuspoerschke commented on #98
@piyushkantm Please check the test [here](https://github.com/markuspoerschke/iCal/commit/cecf7d0f173cdf10b5793aed9af8ef1d9034b8b0#diff-637c83f8ff90e4547f6a333fb669a1d8). Calling the `render` method from the component can cause two different results since the date is changed. From your pull request I can see that you fixed it there.

@piyushkantm I applied an updated version of #99 to master that a

[2017-06-06 03:41] piyushkantm commented on #98
Yes, the dev-master works fine. Thanks

[2017-06-07 14:11] markuspoerschke commented on #98
@piyushkantm cool, then I will create a new release so you can install a stable version.

[2017-06-07 14:11] #98 closed

[2017-06-07 14:15] markuspoerschke commented on #98
Available in Version [0.12.1](https://github.com/markuspoerschke/iCal/releases/tag/0.12.1) now.

[2017-06-07 14:47] piyushkantm commented on #98
thanks. I was already using the dev-master branch 😆

[2017-07-15 22:00] LioH opened #101 "Can I use this without Composer ?"
Where can I find the files ?
Thanks !

[2017-07-21 16:15] joke2k opened #102 "Google calendar shows all event in one day"
Hi, I tried to import [this calendar](http://joke2k.net/domains/) in my google calendar account,
but the result is so bad: all events are placed in the same day of DTSTAMP.

I use iCal 0.11.3 (because I have php 5 on server)

[2017-08-05 09:38] soerenkk commented on #101
[Here](https://github.com/markuspoerschke/iCal/archive/master.zip)

However, doing that breaks the composer autoloader ([Line 3-4 in example 1](https://github.com/markuspoerschke/iCal/blob/master/examples/example1.php)), instead I use the following lines:

`spl_autoload_register(function ($name) {
	require_once(__DIR__ . '/' . str_replace('\\', DIRECTORY_SEPARATOR, $name) . '.php');
});
`

[2017-09-28 15:50] wojlive opened #105 "BYDAY recurrence as a string for more than one weekday?"
"""
BEGIN:VCALENDAR\r\n
VERSION:2.0\r\n
PRODID:User Events\r\n
BEGIN:VEVENT\r\n
UID:16\r\n
DTSTART:20170928T155500Z\r\n
SEQUENCE:0\r\n
TRANSP:OPAQUE\r\n
DTEND:20170928T155500Z\r\n
URL:Health & Well being\r\n
LOCATION:153\r\n
SUMMARY:Weekly event\r\n
CLASS:PUBLIC\r\n
DESCRIPTION:Gsfh\r\n
RRULE:FREQ=WEEKLY;INTERVAL=1;UNTIL=20171019T000000Z;BYDAY="TH,TH"\r\n
CATEGORIES:115\r\n
DTSTAMP:20170928T164855

[2017-10-26 08:49] Idnan commented on #105
@markuspoerschke i am also getting the same issue. `"TH,TH"` shouldn't be escaped with `"`

[2017-11-28 06:57] #51 closed

[2018-01-16 15:43] hawkeyevc opened #108 "Quoting of BYDAY inside RRULE when there is a ',' inside the string"
Hello
I think that the escaping with `"´ of multiple days inside the BYDAY parameter is against the RFC.
Example:
RRULE:FREQ=WEEKLY;INTERVAL=1;UNTIL=20181231T235959Z;BYDAY="MO,TU,WE,TH,FR"
this will work correctly with some importer. I mentioned problems with Thunderbird Lightning and android.

correct is this:
RRULE:FREQ=WEEKLY;INTERVAL=1;UNTIL=20181231T235959Z;BYDAY=MO,TU,WE,TH,FR

I commented t

[2018-01-17 14:45] markuspoerschke commented on #108
Commenting the quoting as you did will affect all kind of properties of the component. This might cause some problems when quoting is needed for other components.

The problem is that the Weekdays are passed as a string in https://github.com/markuspoerschke/iCal/blob/master/src/Property/Event/RecurrenceRule.php#L155. Rather than using the normal Parameter a ArrayParameter needs to be used.

I will

[2018-01-17 14:53] markuspoerschke commented on #108
I will close this in favor of #105. (Duplicate ticket)

[2018-01-17 14:53] #108 closed

[2018-01-23 16:58] SomaiaAmin opened #109 "Not able to send the"

[2018-01-23 17:05] SomaiaAmin commented on #109
I was creating the ICS manually for Outlook and Google Calendar and both were displayed alright. However, I decided to use iCal library since it looked neat and organized in Code.

The problem is the Invitation/events are not displayed correctly anymore:

For Outlook: the ics file is sent as an attachment and called "not supported calendar message.ics"
For Google: I do not get the buttons to accep

[2018-01-28 11:27] markuspoerschke commented on #109
@SomaiaAmin can you provide the output of the two files?

[2018-01-28 22:25] SomaiaAmin commented on #109
**The ics file:**

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Google Inc//Google Calendar 70.9054//EN
METHOD:REQUEST
CALSCALE:GREGORIAN
X-MICROSOFT-CALSCALE:GREGORIAN
BEGIN:VEVENT
UID:5a6e48913a5f4
DTSTART:20180224T000000Z
SEQUENCE:0
TRANSP:OPAQUE
STATUS:CONFIRMED
DTEND:20180224T020000Z
LOCATION:VV Platform
SUMMARY:VV Invitation
ATTENDEE;RSVP=FALSE;CN=Somaia VV:mailto:somaia.amin@xxxxx.com
CLASS:PUBLIC

[2018-03-13 16:06] markuspoerschke opened #111 "Backport "Convert times to UTC if in UTC mode" to 0.11.x"
See: #106

[2018-03-13 19:06] #101 closed

[2018-03-13 19:18] markuspoerschke commented on #111
Released in v0.11.5

[2018-03-13 19:18] #111 closed

[2018-03-13 19:43] markuspoerschke commented on #105
Fix was released with `0.14.0`

[2018-04-28 12:59] themightychris opened #115 "0.11.5 release tagged against wrong branch?"
It looks like the [0.11.5](https://github.com/markuspoerschke/iCal/releases/tag/0.11.5) release was tagged against the master branch instead of the 0.11.x branch

[2018-04-30 07:52] markuspoerschke commented on #115
🤦‍♂️ you are right. I released `0.11.6` to overcome this problem.

https://packagist.org/packages/eluceo/ical#0.11.6

Thank you very much for this hint!! 👍

[2018-04-30 07:52] #115 closed

[2018-04-30 18:33] themightychris opened #116 "Document PHP version compatibility in release descriptions"
It took me some trial and error to figure out that the `0.11.x` branch and releases were the PHP5-compatible ones. Could a standard blurb in the descriptions for each release note each release's PHP version support?

[2018-06-06 07:25] inctor opened #117 "Outlook creates new calendar on import?"
When double-clicking the ICS file, it opens in Outlook and created a new calendar, instead of importing to the current/default calendar.

If the "METHOD" is set as "REQUEST", it opens the "accept" window and only imports 1 of the events specified, if METHOD is changed to PUBLISH it imports to a new calendar but includes both events.

I remember something about "X-WR-RELCALID", but couldn't find an

[2018-07-10 13:45] koraykupe opened #119 "Setting the default auto-update period"
Hello,

I tried to change X-PUBLISHED-TTL to P1H to make the default auto-update period hourly, but when I subscribe on Calendar Mac app, it doesn't preselect that period. It shows "Every week" as default.

Is there a way to change that value?

<img width="494" alt="screenshot_10_07_2018__15_45" src="https://user-images.githubusercontent.com/5278340/42513865-4e5248dc-8458-11e8-9ad8-a5082878484a.pn

[2018-07-11 13:51] Arcath commented on #119
Looks like `setPublishedTTL` is what you are after.

https://github.com/markuspoerschke/iCal/blob/ba386acf57a7e7495d2ea1ca472064141084b533/src/Component/Calendar.php#L230-L240

[2018-07-11 13:52] koraykupe commented on #119
Tried but didn't work (on Mac calendar app)

[2018-07-17 10:58] dextar1 opened #120 "looks like we can not add location into calendar."
Hi,
I want to add location in calender info as well as through code we can set date start and end etc.
so if you have plan for this in next release?

regards;
Usman Ahmad

[2018-07-23 23:56] ChanM0 commented on #120
How are you setting up date start and date end?
You can add other param by adding code to  buildPropertyBag function in event.php

[2018-08-03 16:16] aleangelico opened #121 "required php version"
Hi, it would be nice to add to the readme the required PHP version. This is the output I'd got when trying to upload my project to the server

[code]

[2018-08-03 16:17] #121 closed

[2018-09-07 15:01] drmmr763 commented on #37
Just a +1 on this feature request.

I actually already have a code base which implements  https://github.com/simshaun/recurr's library and I have stored RRULE strings from that. Now I'm trying to add iCal to that and it would be great if I could just take my existing strings and parse them into iCal's ReccuranceRule object.

[2018-09-19 23:46] bhuvidya opened #122 "Feedback"
Thanks so much for this package. It was just what I needed.

[2018-09-20 11:10] freaktechnik commented on #119
https://tools.ietf.org/html/rfc7986#section-5.7 adds a different property for that, maybe that's what iCalendar uses?

[2018-10-03 18:47] markuspoerschke commented on #122
You are welcome!

[2018-10-03 18:47] #122 closed

[2018-10-09 01:50] christopher-wilson commented on #102
Seeing the same problem on local calendar programs and Fastmail.

[2018-11-19 11:14] Stevehans commented on #109
I think that RSVP=FALSE needs to be TRUE to get the buttons to appear?

[2018-11-26 16:56] troccoli commented on #120
Do you mean the LOCATION property, i.e. something like `LOCATION:Conference Room - F123\, Bldg. 002`, or geographic location with the GEO property, i.e. something like `GEO:37.386013;-122.082932`?

[2018-12-18 00:37] vielhuber opened #125 "EXRULE"
Hello!

I have a recurring rule (like every monday) and want to exclude a specific date.

The iCal spec seems also to handle those cases with EXRULE: https://www.kanzaki.com/docs/ical/exrule.html

Is it possible to set those properties with your library?

Thanks in advance.

[2019-01-13 21:59] markuspoerschke commented on #116
I added a hint to the latest `0.11.x` release. (https://github.com/markuspoerschke/iCal/releases/tag/0.11.6)

I will stop maintaining the `0.11.x` branch anyhow, since there was enough time to update to PHP 7.

[2019-01-13 21:59] #116 closed

[2019-01-16 15:36] waveydavey0 opened #127 "Imports"
Is there a feature / roadmap to import an existing Vcalendar data (text) file into your structure, parsing it correctly ?

[2019-02-28 16:58] vody105 commented on #105
@markuspoerschke I think you can close this issue

[2019-03-13 22:16] c33s opened #129 "UID not unique with uniqid()"
https://www.kanzaki.com/docs/ical/uid.html

if events created in batch, `uniqueid()` creates identically ids for the events which is a bug.

http://php.net/manual/en/function.uniqid.php

https://www.kanzaki.com/docs/ical/uid.html

solutions would be:
- make it a hard requirement to pass the uid in the constructor and remove the `uniqid()` function completly (very bad UX)
- quickfix as done in #70

[2019-03-14 16:02] lukaswhite opened #130 "Recurrence rules don't allow multiple values for BYMONTH, BYHOUR, BYMINUTE, BYSECOND"
Recurrence rules are allowed multiple values for `BYMONTH`, `BYHOUR`, `BYMINUTE` and `BYSECOND`, for example:

[code]

([source](https://www.kanzaki.com/docs/ical/rrule.html))

However, the corresponding methods (`setByMonth()`, `setByHour()`, `setByMinute()`, `setBySecond()`) don't allow multiple values; they throw an `InvalidArgumentException`.

For example:

[code]

Because it's insisting on a

[2019-04-21 04:42] kkeith-adg opened #132 "Need better extensibility"
First of all, I want to thank you for this package. Surprising how few well written/modern PHP libraries there are for making iCal files.

We are trying to use this package for our multi-tenant SaaS application and I'm working on adding streaming abilities to the library for better memory management. I ran into a problem extending the `Calendar` component due to the private methods in the base `Co

[2019-05-10 07:50] dualitysol commented on #73
Does not work like this

[2019-05-12 06:37] mffazlan commented on #109
Hi
I am also facing the same issue. I do not get the buttons to accept or reject the invitation

this is ics file output

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Hoxton Capital Management//Hoxton Capital Calendar 1.0//EN
BEGIN:VEVENT
UID:5cd7bce5ef232
DTSTART:20191111T130000Z
SEQUENCE:0
TRANSP:OPAQUE
STATUS:CONFIRMED
DTEND:20191111T150000Z
LOCATION:Hoxton Capital Management
SUMMARY:Meeting at Hoxton

[2019-05-25 17:53] Ali1 opened #133 "Possible bug with Immutable DateTime"
Calendar times were off by one hour when we hit British Standard Time. The app uses CakePHP which uses FrozenTime as it's main DateTime interface for model date-time data.

The line of code where the problem occurs is:
[code]

I've opted to `->toMutable()` the instance however just wanted to put this issue out there for anyone else searching.

Not sure whether you'd consider this a bug, but if so,

[2019-06-12 23:11] DerekFroese commented on #127
This would be very useful, if this could be used to combine ical files into a single ical file.

[2019-06-17 10:03] deepak-netwin opened #135 "How to add ORGNIZATION node to iCalendar"
Hi,

Thanks for this library. It works very well in laravel.
I'm finding some difficulty while adding ORGANIZATION node in iCalendar.
Can some one help me to add it in VEVENT?
Thanks in advance!

[2019-06-26 23:50] Ali1 opened #137 "Tag your release please"
Your most recent commit is really important - solved a pesky bug. Could you tag this release please?

Thanks

[2019-06-27 09:50] deepak-netwin opened #138 "How to parse iCal string"
Hi,

I want to parse icalendar string.

e.g. I've below iCalendar string which I want to convert to php object:

BEGIN:VCALENDAR
VERSION:2.0
PRODID:PortalSchani
BEGIN:VEVENT
UID:5d1488f60d363
DTSTART:20190726T183000Z
SEQUENCE:0
TRANSP:OPAQUE
DTEND:20500726T183000Z
SUMMARY:My birthday
CLASS:PUBLIC
DTSTAMP:20190627T091430Z
RRULE:FREQ=YEARLY;BYMONTH=7;BYMONTHDAY=26
END:VEVENT
END:VCALENDAR

[2019-07-12 10:20] arpi68 opened #139 "Quotation marks are escaped"
Hello,
thank you for the great tool.

As far as I've seen, only some characters should be escaped.
; - semicolon
: - colon
, - comma and backslash
  (https://www.kanzaki.com/docs/ical/text.html)

When passing a text with quotation marks to Summary (->setSummary()), the quotation marks are escaped in the resulting ical-File.
Is there a reason, why they're being escaped?
Maybe it would be helpful to

[2019-07-31 16:21] mmodha opened #140 "Special characters e.g. é in event text causes the ics file to not be generated correctly"
The ics file becomes invalid because the file will be shorted e.g. to 'END:VCALEND', this is because of special characters in the summary text. For each special character a letter will be removed.

[2019-08-06 20:34] markuspoerschke commented on #133
This should be fixed with [Release 0.15.1](https://github.com/markuspoerschke/iCal/releases/tag/0.15.1).

[2019-08-06 20:34] #133 closed

[2019-08-06 20:35] markuspoerschke commented on #137
Done: https://github.com/markuspoerschke/iCal/releases/tag/0.15.1

[2019-08-06 20:35] #137 closed

[2019-08-06 20:45] #71 closed

[2019-08-06 20:53] markuspoerschke commented on #138
This library can only create but not parse a iCal file. A popular package to parse iCal is [sabre/vobject](https://packagist.org/packages/sabre/vobject).

[2019-08-06 20:53] #138 closed

[2019-08-06 20:55] markuspoerschke commented on #132
I am always set all methods to private while developing. Only if needed I will change the visibility to protected or public if needed. Can you give an example, what you need to achive?

[2019-08-06 21:06] markuspoerschke commented on #132
Maybe #135 is an good example? The issue there is, that an property should be added to the event component. The only problem is, that there is no "organizer" property for the event object and it is not possible to add own custom properties with official APIs to the event object.

In my mind, this library needs a rewrite to split a) generation of iCal components and b) rendering of iCal files. That

[2019-08-09 21:59] kkeith-adg commented on #132
It could potentially solve my issue depending on how the rendering class was written.

My update to the Calendar class is below. You will see I had duplicate the `addComponentLines` and `buildComponents` methods along with the `$componentsBuildOrder` property. I really don't like duplicate code which prompted me to write this issue.

[code]

Here is a stripped down example usage for the code above

[2019-09-18 09:32] renepaalhaar opened #142 "Outlook Office 365/Windows Mail"
Hi,

In Windows Mail I'm seeing the 'Accept, Tentative and Decline' buttons. When I set RSVP to False, I still see the buttons. Can I somehow manage these buttons, I just want an 'Add to Calendar'-button. Or do I have to dive into the Windows Mail to change these buttons?

My Outlook Office 365 is only showing the appointment details (subject, location, start time, end time). But there is no optio

[2019-10-02 09:23] mmodha commented on #140
Hi any ideas when this issue can this be looked at. Thanks

[2019-12-06 16:40] orditeck commented on #140
I don't experience this issue, I'm using special characters in calendar title, eg.:
[code]
and events, eg.:
[code]

If I were you I'd look elsewhere, eg., setting the right headers:
[code]

[2019-12-11 15:36] ankurk91 commented on #37
I would be nice to have this feature baked in into v2.0

[2019-12-29 22:07] markuspoerschke commented on #32
I close this issue, because of #146 implements this feature.

[2019-12-29 22:07] #32 closed

[2020-01-26 19:26] ZacharyDuBois commented on #127
I am looking for exactly this. My work's scheduling software doesn't set alarms or metadata like location so I don't get nice features such as time to leave notifications. I'm looking for a library to both parse an existing feed and modify the events to re-output it.

[2020-02-13 22:11] #105 closed

[2020-02-13 22:18] markuspoerschke commented on #127
This library is intendet to create iCal files only. It is currently not planned to add parsing.

If you need to parse iCal files, you might want to have a look at [sabre/vobject](https://sabre.io/vobject/icalendar/).

[2020-02-13 22:18] #127 closed

[2020-02-13 22:29] markuspoerschke commented on #140
@mmodha Can you check if the advice by @orditeck works?

[2020-02-14 19:35] ZacharyDuBois commented on #127
Thanks for the suggestion!

[2020-02-16 21:22] markuspoerschke commented on #82
For the upcoming version 2, it is possible to [add custom properties](https://ical.poerschke.nrw/advanced/custom-properties.html) to iCal components.

[2020-02-16 21:22] #82 closed

[2020-02-16 21:24] markuspoerschke commented on #142
Can you provide a minimal code example? Also a generated `ics`-file might help.

[2020-02-20 11:14] bhofm commented on #82
Thanks!

[2020-03-01 23:06] ferremek opened #151 "How to make recurring event for first Monday of the month"
Hey guys,

First of all, thanks for creating this great package for creating iCalendars!

I am creating an calendar feed that pulls events from an API from a project management tool and I have one question regarding the recurring events. One thing I can't figure out is how to create an event that is on the first Monday of the month. Here is an example of a recurrence rule for an event like this:

[2020-03-02 12:24] navarr commented on #151
You're missing `->setBySetPos(1)`

Using an RRULE generator like https://www.textmagic.com/free-tools/rrule-generator will help reveal which attributes you need to use.

[2020-03-02 23:51] ferremek commented on #151
@navarr That's it, thanks for your quick response!

[2020-03-03 15:02] renepaalhaar commented on #142
Hello,

Below you can find the code I use to generate the ics.

    $vCalendar = new Calendar('-//XXX//EN');
    $vCalendar->setMethod(Calendar::METHOD_PUBLISH);

    $dstRecurrenceRule = new RecurrenceRule();
    $dstRecurrenceRule->setFreq(RecurrenceRule::FREQ_YEARLY)
        ->setByMonth(3)
        ->setByDay('-1SU');

    $vTimezoneRuleDst = new TimezoneRule(TimezoneRule::TYPE_DAYLIGHT);
    $

[2020-04-07 14:36] MadMikeyB opened #153 "DESCRIPTION truncating on first newline"
My DESCRIPTION:

[code]

In Calendar.app it shows as

"OBJECTIVES

Objective Number Five
Objective Number Four
Obj"

If I manually edit the ICS and change it to not break lines, eg

[code]

It shows the full description.

How do I stop it from folding?

[2020-04-12 16:35] markuspoerschke commented on #151
I close this issue because the question was answered.

[2020-04-12 16:35] #151 closed

[2020-04-12 16:36] markuspoerschke commented on #153
@MadMikeyB Can you provide an example PHP-code that can be used to create the ICS file?

[2020-04-21 21:55] markuspoerschke commented on #39
Creating a Symfony Bundle to deal with calendar events will need to create a new project. At this point, this library will focus on generating iCal files only.

I will close this issue therefore.

[2020-04-21 21:55] #39 closed

[2020-04-22 20:44] markuspoerschke commented on #132
In version 2.0 of this package, it will be possible to create calendars from a "stream" of events like this:

[code]

[2020-05-10 14:24] noeldum opened #160 "How do I prevent DTEND being day+1"
How do I prevent DTEND being day+1 in the output?

I tried both
$vEvent->setDtEnd(new \DateTimeImmutable('2012-12-24'));
and
$vEvent->setDtEnd(new \DateTime('2012-12-24'));

in both cases I get
DTEND;VALUE=DATE:20121225

instead of 20121224

[2020-05-20 21:31] markuspoerschke commented on #160
I assume, that you want to create a single day event that takes place on December 24th 2012.

The same behaviour can be examined when using the [example1.php](https://github.com/markuspoerschke/iCal/blob/master/examples/example1.php).

I created the following iCalendar file using the following code:

[code]

The output will contain the following lines:

[code]

At first glance, it looks like an ev

[2020-05-25 10:16] markuspoerschke opened #163 "Return to latest PHP 7.4 version once 7.4.7 is released"
PHP 7.4 will be released on June 11th 2020.

See #162

[2020-06-10 10:01] thexeos opened #164 "Calling render() multiple times on Calendar duplicates Timezone"
In example5.php, calling $vCalendar->render() one more time produces duplicate BEGIN:VTIMEZONE in the output. Additional calls will each add a duplicate VTIMEZONE to the file.

Why it happens: when properties are joined in [Calendar->buildPropertyBag](https://github.com/markuspoerschke/iCal/blob/cdc2edf29d74b6e2691c55a5fcd322973da88696/src/Component/Calendar.php#L277), the Timezone is added as a c

[2020-06-17 12:25] nekromoff commented on #160
Came here for the same thing, thanks for the explanation.

[2020-06-23 18:58] markuspoerschke commented on #163
This issue was fixed in #165

[2020-06-23 18:58] #163 closed, assigned to markuspoerschke

[2020-08-13 18:43] steffjenl commented on #142
[code]

will give location the value _Dorpstraat 11, 1000 AA Amsterdam_

[2020-09-09 13:00] lmollard commented on #160
Hi,

I have the same problem, but with an event more than 1 day long. The end date is the day I sent to the $vEvent->setDtEnd function + 1 day.

The resulting ICS file have the end date i want +1.

When i add this ICS file to Google Calendar, it works well (with the end date I need), but with the same ICS file, when I use it on Abritel and Airbnb, it's the end date +1 day.

How can I do for my ICS

[2020-09-24 19:21] markuspoerschke commented on #92
This will be done in Version 2.

The new documentation is already available on the new website: https://ical.poerschke.nrw/

[2020-09-24 19:21] #92 closed

[2020-09-24 19:28] markuspoerschke opened #166 "Write UPGRADE-2.0.md guide"
Explain how to upgrade from `0.*` version to the new `2.0` version of this package.

[2020-09-24 19:32] markuspoerschke opened #167 "Switch branch names and set 2.x as default branch"
Current branches:

* `master` (default)
* `0.11.x`
* `2.x`

New branches:

* `2.x`
* `0.x` (renamed `master` branch)
* `0.11.x`

The `master` branch will be removed.

[2020-09-27 12:31] #139 closed

[2020-09-27 12:43] markuspoerschke commented on #167
Done

[2020-09-27 12:43] #167 closed, assigned to markuspoerschke

[2020-10-01 20:08] markuspoerschke opened #183 "Add ATTACH property"

[2020-10-01 20:41] markuspoerschke opened #186 "Add documentation for ALARM component"

[2020-10-04 12:29] markuspoerschke opened #188 "Add VTIMEZONE"

[2020-10-04 12:30] markuspoerschke opened #189 "Implement recurring events"

[2020-10-04 12:32] markuspoerschke opened #190 "Add attendee property"
https://tools.ietf.org/html/rfc5545#section-3.8.4.1

[2020-10-04 12:32] markuspoerschke opened #191 "Implement method property on calendar"
http://tools.ietf.org/html/rfc5545#section-3.7.2

[2020-10-04 12:34] markuspoerschke opened #192 "Implement event Time Transparency"
https://tools.ietf.org/html/rfc5545#section-3.8.2.7

[2020-10-09 22:08] #183 closed, assigned to markuspoerschke

[2020-10-09 23:09] markuspoerschke commented on #160
@lmollard

I cannot give support for special consumers of the resulting ics file.

Maybe, if you provide an example PHP code and the resulting ICS file can help to see the problem.

[2020-10-09 23:11] markuspoerschke opened #202 "Support Attachment for Audio Alarm"

[2020-10-14 21:57] lmollard commented on #160
Hi,

Thank you for your reply... I managed to get my ICS file to work as expected by setting the beggining and ending hour, so my code changed since my original demand.

Thank you again for trying to help me.

Lionel

[2021-01-11 14:09] markuspoerschke opened #209 "Render X-APPLE-STRUCTURED-LOCATION for Location"

[2021-01-24 13:36] markuspoerschke commented on #188
Implemented in https://github.com/markuspoerschke/iCal/pull/210

[2021-01-24 13:37] #188 closed, assigned to markuspoerschke

[2021-01-27 07:18] Xandar31 opened #215 "Import in google calendar now working"
Hi,
I would like to generate a dynamic calendar that users can integrate into the google calendar via URL (https://domain/functions/ical/example1.php).

I've tried example1.php, but it doesn't appear there.
It works in Outlook, but not in Google Calendar.

I just changed the date of the appointment to next Saturday

Does anyone have any idea why?
Regards

[2021-02-25 14:14] elceka opened #216 "Incorrect format in DateTime properties with TimeZone parameter"
Hi,
in properties like DTSTART and DTEND (DUE, EXDATE, and RDATE too) with included timezone information within parameter TZID is incorrect structure of that property, because by the RFC5545 in this situation must be used SOLIDUS character after property name.

For example DateTime parameters inside event generated by actual version of iCal library:
[code]

Correct structure with a timezone by RFC

[2021-02-28 19:22] markuspoerschke commented on #216
Can you give a code example? Which version do you use?

[2021-03-02 09:48] elceka commented on #216
Hi Markus,
this is a example of the code.

[code]

For now i use FALSE value of the "applyTimeZone" attribute of the constructor of the class Eluceo\iCal\Domain\ValueObject\DateTime, in constructor of the class Eluceo\iCal\Domain\ValueObject\TimeSpan, in the code example is with the TRUE value, because that is the source of problem (i use the time zone information globally inside iCal parameter VT

[2021-03-16 19:50] markuspoerschke commented on #216
Thank you very much for this bug report.

As of section 3.1 of RFC 5545, a content line is defined as follows:

[code]

This is defined in the class `\Eluceo\iCal\Presentation\Component\Property`. It is literally missing a semicolon there. The colon must be exchanged by the semicolon in that class. I will create a PR to fix that.

[2021-03-16 20:00] markuspoerschke commented on #215
I suspect, that this can be related to #216. On the lint `TRIGGER:RELATED=END:-PT15M` is a syntax error. The first colon must be semicolon.

Maybe you can try again after #222 is merged and released.

[2021-03-17 06:50] #216 closed, assigned to markuspoerschke

[2021-03-17 08:29] elceka commented on #216
Thank you. 👍🏻

[2021-03-22 17:30] JorisDebonnet commented on #186
Any hint you can give already? When I try:

[code]

Then the output is:
[code]
But that doesn't do anything in any of the calendar apps I have tested. Also, I notice in online examples that the trigger usually starts with a - sign (to indicate "before" rather than "after" the DTSTART, I assume), but I cannot create a negative DateInterval, so not sure how to implement that here.

[2021-03-24 16:08] markuspoerschke opened #225 "Implement HTML description"
See #55

[2021-03-29 10:48] #209 closed, assigned to nobody

[2021-03-29 17:27] udf2457 commented on #129
See #227

[2021-03-29 21:01] markuspoerschke commented on #129
This have been finally solved with #277.

@udf2457 Thanks for your PR.

[2021-03-29 21:01] #129 closed

[2021-04-07 08:13] tjveldhuizen commented on #166
The reference to the UPGRADE.md in https://github.com/markuspoerschke/iCal/releases/tag/2.0.0 is confusing me: while the release descript implicates I have to change things, the file doesn't mention any. Can you please clarify if this means that no changes are required, or they haven't been described, yet?

[2021-04-07 11:18] markuspoerschke commented on #166
The upgrade guide was missing for `2.0.0`.

You can have a look at the current version here: https://github.com/markuspoerschke/iCal/blob/2.x/UPGRADE.md

I am happy about your feedback and if information are missing.

[2021-04-08 11:34] panfil3 opened #237 "Popup does not open in the native Android app"
On android phones a file is generated and the download begins, and then when opening the downloaded file offers to record the event in the Google calendar. Is it possible to immediately open a popup for writing to the calendar, as it is implemented on the iPhone?

[2021-04-12 04:31] nbtai opened #240 "Eluceo\iCal\Domain\Entity\TimeZone::createFromPhpDateTimeZone can not work correctly"
in the example in [timeZone](https://ical.poerschke.nrw/components/timezone.html).

[code]
I try to use but it throws the error.
```assert(): assert($fromDateTime instanceof DateTimeImmutable) failed```

It's seem that the
[code]
in [Domain/Entity/TimeZone.php#L47](https://github.com/markuspoerschke/iCal/blob/2.x/src/Domain/Entity/TimeZone.php#L47) receives the wrong format. So that It can not cre

[2021-04-12 06:09] #166 closed, assigned to markuspoerschke

[2021-04-13 08:28] Selion05 opened #241 "Bad ics file generation"
I just upgraded from  `2.x-dev 4eb1c90` to `2.x-dev cd1635a` and
now i get a failing unit test
[code]
note the semi colon after `TRIGGER` instead of a colon.

Here is the  unit test for completeness

[code]

[2021-04-13 17:11] markuspoerschke commented on #241
@Selion05, thanks for your report.

In an early version, a colon instead of a semicolon was used by mistake.

This was fixed in https://github.com/markuspoerschke/iCal/pull/222.

Having a semicolon at that position is correct. The semicolon is separating the parameter name (`TRIGGER`) from the property (`VALUE`). The colon is separating it from the actual value (`20200601T080000Z`).

Do you have i

[2021-04-13 17:12] markuspoerschke commented on #241
I recommend upgrading to the stable tagged versions available.

[2021-04-14 06:37] Selion05 commented on #241
ah nice there is 2.0.0 now! upgraded :)

So a semi colon is used if that element has sub values (e.g. `VALUE`)?
I'm asking because with a relative trigger `TRIGGER:-PT1H` it is still a colon.

Anyway just tested with google calendar and the semi colon is correct.

thanks for time!

[2021-04-14 06:37] #241 closed, assigned to markuspoerschke

[2021-04-14 12:57] markuspoerschke commented on #241
That looks correct to me. `TRIGGER` is the Propertyname and `-PT1H` is the value.

[2021-04-20 22:35] JorisDebonnet commented on #240
It indeed does not work if you only use one parameter. A workaround is to make sure you do specify the second and third parameter.

[2021-04-20 23:08] JorisDebonnet opened #245 "TZOFFSETTO and TZOFFSETFROM should never be -0000"
The standard does not allow -0000. In that case, it should be +0000.
https://icalendar.org/iCalendar-RFC-5545/3-3-14-utc-offset.html

To reproduce, you'll get the -0000 values when you try `$cal->addTimeZone(TimeZone::createFromPhpDateTimeZone( ... Europe/London ...)`

[2021-04-21 21:13] markuspoerschke commented on #245
Thanks for reporting this bug.

It will be fixed in #246

[2021-04-21 21:17] #245 closed, assigned to markuspoerschke

[2021-04-21 22:14] markuspoerschke commented on #240
Mhmm, ok, it looks like that's not quite thought through.

I added `PHP_INT_MIN` and `PHP_INT_MAX` as default values for the lower and upper time stamp.

Unfortunately using `PHP_INT_MIN` results in the following date `-292277022657-01-27T08:29:52+0000`. This date cannot be parsed providing `\DateTimeInterface::ATOM` format, because it contains a year [B.C](https://en.wikipedia.org/wiki/Anno_Domin

[2021-04-21 22:30] markuspoerschke commented on #240
@nbtai thanks for reporting the bug. I opened a pull request.

@JorisDebonnet thanks for the hint for the "workaround".

[2021-04-21 22:37] #240 closed, assigned to markuspoerschke

[2021-04-23 08:52] fabian-lu opened #252 "Add organizer in Version 2.*"
The addOrganizer method has been depreciated in the latest version. Will it be added again?

[2021-04-25 10:43] #237 closed, assigned to nobody

[2021-04-25 10:47] markuspoerschke commented on #215
@Xandar31 #222 is merged and released. Can you confirm whether the error still remains in version 2.1?

[2021-04-25 11:01] #160 closed, assigned to markuspoerschke

[2021-04-25 11:02] #153 closed

[2021-04-25 11:04] #142 closed

[2021-04-25 11:05] #140 closed

[2021-04-25 11:05] #135 closed

[2021-04-25 11:06] markuspoerschke commented on #132
I close this issue, because the matter is resolved.

Documentation about how to extend the output can be found here: https://ical.poerschke.nrw/docs/custom-properties

[2021-04-25 11:06] #132 closed

[2021-04-25 15:27] markuspoerschke commented on #186
@JorisDebonnet Here you can find a working example

[code]

The clue is indeed to make the date interval negative.

There are the following ways in PHP to make DateTimeInterval negative:

[code]

or

[code]

[2021-04-26 20:16] #252 closed, assigned to nobody

[2021-04-30 12:04] bicpi opened #263 "Timezone offset used as TZID"
Hi,
when using ...

[code]
... I get ...
[code]

This is not supported by e.g. the Calendar app on the Mac. It seems the problem is using the timezone offset `+00:00` for the `TZID`; when changing it to `UTC`, it works.

Philipp

[2021-05-03 12:29] Xandar31 commented on #215
Hi @markuspoerschke , yes it's working now.
Many thanks for this,The tool helps me a lot

[2021-05-03 12:29] #215 closed, assigned to Xandar31

[2021-05-06 12:35] jokaorgua opened #277 "Question: Any way to cancel previous event?"
Hello.

 Is there a possibility to cancel the previous event? Like said here https://stackoverflow.com/a/10561761

Thank you

[2021-05-13 18:10] hershkoy commented on #277
+1

[2021-05-20 11:26] hershkoy opened #278 "Events don't render in Outlook ("not supported calender message.ics")"
I am creating events and they look ok in gmail and even in [outlook live](outlook.live.com) (the web version of outlook), but on the outlook desktop version the events are received as emails with attachment:

![image](https://user-images.githubusercontent.com/13259380/118969969-5fd4e780-b976-11eb-8e0d-42260ee5f073.png)

This is the code:

[code]

The generated ical looks like this:

[code]

I unde

[2021-05-22 10:24] #278 closed, assigned to nobody

[2021-05-25 06:50] HeWeDi opened #280 "Reccuring events with individual time changes"
Delete me. Sry 😣

[2021-05-25 06:58] #280 closed, assigned to nobody

[2021-05-26 16:17] garak opened #281 "Wrong parameter"
My code:
[code]

when inspecting with phpstan, I get the following error (on last line):

         (Eluceo\iCal\Domain\Collection\Events&iterable<Eluceo\iCal\Domain\Entity\Event>)|(iterable<Eluceo\iCal\Domain\Entity\Event>&Iterator<mixed, Eluceo\iCal\Domain\Entity\Event>),
         array<int, Eluceo\iCal\Domain\Entity\Event> given.

[2021-06-07 13:15] vikramsra opened #290 "ics creating new calendar"
Hi,

I am able to create the ICS file will all the required parameters. If I double-click the file it creates a new calendar instead of importing events in the main calendar.

Importing it manually works fine.

Anything I am missing?

[2021-08-02 11:42] hungdoviet opened #309 "install package conflicts with php 7.4?"
Problem 1
    - php 7.4.6 conflicts with eluceo/ical 2.2.0.
    - php 7.4.6 conflicts with eluceo/ical 2.x-dev.
    - php is present at version 7.4.6 and cannot be modified by Composer
    - Root composer.json requires eluceo/ical ^2.2 -> satisfiable by eluceo/ical[2.2.0, 2.x-dev].

what version should I install?
Thanks

[2021-08-02 12:49] navarr commented on #309
7.4.0-7.4.5 or 7.4.7+

[2021-08-02 18:35] anubhav217 opened #310 "Difficulty creating Calendar"

[2021-08-02 18:35] anubhav217 opened #311 "Event Handling Problems Encountered"

[2021-08-03 02:21] hungdoviet commented on #309
Thanks, I changed php v and it is ok now

[2021-08-03 02:21] #309 closed, assigned to nobody

[2021-08-03 13:36] markuspoerschke commented on #309
There is a bug in PHP 7.4.6 which makes this package fail. See #162.

[2021-08-15 18:31] anubhav217 opened #313 "Wrong parameter"

[2021-08-23 19:15] anubhav217 opened #315 "Add attendee property"

[2021-08-23 19:15] anubhav217 opened #316 "Implement HTML description ."

[2021-09-24 07:26] giorginogreg commented on #225
Hi Markus, can you please merge / restore this feature?
Thank you so much!

If needed, I can help you with some other things like documentation, test etc.

[2021-09-27 19:30] balping opened #325 "SSL certificate expired"
Just to let you know, the certificate on your [docs website](https://ical.poerschke.nrw)  has expired.

[2021-09-28 08:04] ggiorginogrifo commented on #315
Dear @anubhav217, can you please close this issue? If you check the issue #190, you can see that there's already another issue that is same of your.
Thank you!

[2021-09-28 08:08] ggiorginogrifo commented on #190
Dear @markuspoerschke, i'm working on this issue on a [public fork](https://github.com/giuseppenucifora/ical/tree/feature/add-attendee).
If you want, you can create a branch and i will push my changes (it's WIP, not done) on that branch, so when i'm done i will send you a message and you / your coworkers can do a code review.

What do you think?
Best regards,

Gregorio

[2021-09-28 08:10] giorginogreg commented on #190
Dear @markuspoerschke, i'm working on this issue on a [public fork](https://github.com/giuseppenucifora/ical/tree/feature/add-attendee).
If you want, you can create a branch and i will push my changes (it's WIP, not done) on that branch, so when i'm done i will send you a message and you / your coworkers can do a code review.

What do you think?
Best regards,

Gregorio

[2021-09-28 08:12] giorginogreg commented on #315
Dear @anubhav217, can you please close this issue? If you check the issue #190, you can see that there's already another issue that is same of your.

Also, I'm working on that issue on a [public repo](https://github.com/giuseppenucifora/iCal/tree/feature/add-attendee), so if you want you can pm me and we can collaborate together!
Thank you!

[2021-09-28 08:17] giorginogreg commented on #316
Dear @anubhav217, can you please close this issue since #225 is another that is same of your?
If I can give you some advice, an issue without a description is a little bit useless, as it doesn't help anyone to understand your problems, if there's any.
Thank you!

[2021-09-28 08:21] giorginogreg commented on #313
Dear @anubhav217, what parameter do you refer to? Where it's appearing this wrong parameter?

[2021-09-28 08:58] markuspoerschke commented on #315
Closed, because this issue duplicates #190

[2021-09-28 08:58] #315 closed, assigned to nobody

[2021-09-28 08:59] markuspoerschke commented on #325
Thanks for the hint. The cronjob was not executed to update the certificates.

The website is reachable again.

[2021-09-28 08:59] #325 closed, assigned to nobody

[2021-09-28 09:00] markuspoerschke commented on #316
Closed, because this issue duplicates #225

[2021-09-28 09:00] #316 closed, assigned to nobody

[2021-09-28 09:01] markuspoerschke commented on #190
@giorginogreg The best way will be a PR to this project. Just contact me, once you have something to show!

Thanks in advance!

[2021-09-28 09:04] #313 closed, assigned to nobody

[2021-09-28 09:05] #310 closed, assigned to nobody

[2021-09-28 09:05] #311 closed, assigned to nobody

[2021-09-28 19:16] #290 closed, assigned to nobody

[2021-09-28 19:33] #281 closed, assigned to markuspoerschke

[2021-09-28 19:35] markuspoerschke commented on #281
Thanks for pointing this out. It was wrong indeed.

Be aware, that you might have to adopt your PHPStan config, once you update, because the muted error must be removed. Otherwise PHPStan might complain about a muted error that was never thrown.

[2021-10-08 07:16] giorginogreg commented on #190
@markuspoerschke, I'm stuck with the calendar user type implementation.
Diving in the deep, I am trying to replicate the TimeZoneTransitionType class, because my new class (CalendarUserType) is similar to that, but I fail the tests 'cause when them try to compare the type of CalendarUserType, it return always the first type, even if they're not the same.
Attached some images that try to explain my

[2021-10-09 22:17] giorginogreg commented on #190
@markuspoerschke i've finally finished this feature, please check it out on PR #333 and contact me for some improvements! Can't wait on that.

[2021-10-30 07:39] giorginogreg commented on #190
Please @markuspoerschke close this issue, thank you!

[2021-11-02 12:48] #190 closed, assigned to giorginogreg

[2021-11-11 10:13] kgilden opened #342 "Upgrade notes from 0.16.* to 2.0 are a bit too light on details"
As a consumer of this package, it's difficult to upgrade from 0.16.* to 2.0. The [upgrade docs](https://github.com/markuspoerschke/iCal/blob/f858f765e9744834e821283c90eb8330e03174dc/UPGRADE.md) gives a nice general impression of how the package should now be  used, but it's lacking specifics.

It would be extremely helpful, if there was a before vs after of all public methods showing how each meth

[2021-11-30 07:58] jokaorgua opened #345 "Deprecation messages in Symfony 5.4"
There is a deprecation message when using the package with Symfony 5.4

[code]

[2021-12-02 18:44] dcsilver opened #353 "Older docs versions?"
I think I'm stuck on 0.15 (or maybe 0.16) for now due to dependency issues.

How can I find the docs for older versions?

[2021-12-22 23:54] williamdes opened #359 "Add a .gitattributes to clean up vendor bundles"
There is quite a bunch of useless files that end up in production servers and workstations.
Please add a `.gitattributes` file, example: https://github.com/code-lts/doctum/blob/main/.gitattributes
[code]

[2021-12-24 14:44] williamdes commented on #37
@markuspoerschke I need to have rrule (https://icalendar.org/rrule-tool.html) on my Events. Are contributions welcome to bake this cool lib (simshaun/recurr) into this one ?

[2021-12-27 18:10] navarr commented on #359
Is it better to use `.gitattributes` or composer's [`archive.exclude`](https://getcomposer.org/doc/04-schema.md#archive) here?

Or both?

[2021-12-27 19:18] williamdes commented on #359
For having used both previous I would really recommend gitattributes
This will reflect on the `git archive` command

[2022-01-03 17:24] JorisDebonnet opened #367 "Timezone issues since 2022"
I have the impression that `createFromPhpDateTimeZone` is no longer working correctly since 2022 for MS Outlook. I have not yet been able to figure out why. (At least to me it looks like it started on 1 January 2022.) It still works fine for e.g. Gmail, but in Outlook, it shows all times in the DST time, instead of the ones in January in 'standard' time.

Here's an example output inside the VCALEN

[2022-01-03 17:51] JorisDebonnet commented on #367
I am using php 8.1, in case that matters.

[2022-01-04 10:06] jokaorgua commented on #277
[code]

if somebody will need a solution

[2022-01-04 10:06] #277 closed, assigned to nobody

[2022-01-04 10:24] jokaorgua opened #368 "How to create recurring event in v2*"
Hello everyone.

I can not understand how to create a recurring event with version 2.*

I see that there is RecurrenceRule class in https://github.com/markuspoerschke/iCal/blob/0.11.x/src/Eluceo/iCal/Property/Event/RecurrenceRule.php

But I do not see anything similar in v2.*

Could anyone guide me on how to create a recurring event for 'Every Monday at 9.00 during January' ?

Thanks in advance

[2022-01-06 09:40] jokaorgua opened #369 "Compatibility with PHP 8.1"
When using php 8.1.1 I get a deprecation messages

[code]

[2022-02-08 19:22] benjivm commented on #225
Is this coming back?

[2022-02-25 17:26] vazaha-nl opened #383 "Adding custom Calendar properties is not possible without code duplication"
In my project I wanted to add an extra custom property (`X-WR-CALNAME`) to Calendars. The documentation has good info on how to do that for Events, but not for Calendars. I thought to use a similar approach but it turned out a bit less easy. To add extra custom properties I thought to extend the `getProperties` method in a subclass of src/Presentation/Factory/CalendarFactory.php. But that method i

[2022-03-02 09:06] ghost opened #390 "Calendar app on the Mac does not accept this ics."
When i try to import a downloaded .ics file with this content, no calendar item is imported in the calendar

BEGIN:VCALENDAR
PRODID:platform
VERSION:2.0
CALSCALE:GREGORIAN
BEGIN:VEVENT
UID:94b10624-55ac-4974-b87d-48408e89a841
DTSTAMP:20220302T084901Z
SUMMARY:testx
DESCRIPTION:Join: https://test.nl
DTSTART;UTC=:20220303T083800
DTEND;TZID=UTC:20220303T093800
ORGANIZER:mailto:test%40test.io
SEQUENCE:

[2022-03-02 09:21] markuspoerschke commented on #383
The changes that you suggest makes sense in my opinion.

The main reason is, that `private` is always the default, when I create classes. For the `EventFactory` that already changed, so yes, it makes sense to change this for the `CalendarFactory` as well.

[2022-03-02 09:31] markuspoerschke commented on #390
Can you show us the minimal working PHP code that is needed to create this ICS output? Which version of this library do you use?

[2022-03-02 13:13] ghost commented on #390
HI Thank you very much for your quick response..

We use version 2.5.0

This is the code we use to generate the .ics

    /** @param array<Shortcode> $shortcodes */
    public function generatePersonal(
        Meeting $meeting,
        User $recipient,
        string $type,
        array $shortcodes
    ): string {
        $attendee = new Attendee(new EmailAddress($recipient->getEmailaddress()));

[2022-03-11 11:26] alies-dev commented on #368
+1 to implement this missing functionality in v2

[2022-03-13 23:05] florianmuellerCH commented on #390
I'm having the same issue - generating a very simple ICS file does not work in mobile safari on my iPhone 8. Instead it prompts me to "download cal.ics.html". I'm using a very standard event with little information, see following ical file:

[code]

When generating, I'm writing these headers:

[code]

[2022-03-14 21:18] florianmuellerCH commented on #390
Update: I tested this on various platforms including Mac, and it works fine on Mac OSX, but simply not at all mobile on iOS 15.3.1.

[2022-04-22 12:38] hansmorb commented on #263
I realized, that this error occurs when no timezone is specified in the DateTime PHP object but still $applyTimeZone is set in the constructor for the iCal DateTime object.

It would work if the above code were changed to this:

[code]

[2022-04-25 19:23] johnbburg commented on #367
I just started running into the inverse of this, where we are now in Daylight savings, and events are appearing as if they are in standard time.

I am not using any VTIMEZONE entries, and have been relying on the just the timezones within the dates themselves. I know this isn't quite spec, but it has seemed to work fine for years until this past changeover, and people started noticing that events

[2022-04-26 12:00] #345 closed, assigned to nobody

[2022-06-08 21:32] nineff opened #420 "Geographic position is always NULL"
I'm unable to set a Geographic position as the location instance always has a NULL value there instead of a Geographic position:

[code]

This outputs:

[code]

I tried to debug this but am unable to find the error, right before returning in `ValueObject\Location.php:31` the variable appears to be set correctly.

PHP: 8.1.6 Windows

[2022-06-08 21:36] #420 closed, assigned to nobody

[2022-06-08 21:36] nineff commented on #420
I'm dumb: I never assigned the returned value to a new (or existing) variable. Closed ;)

[2022-06-21 15:33] morojosa opened #427 "No exist Method property in EventFactory"
Please add in next release the propertie METHOD in Event, for example with value REQUEST.

yield new Property('METHOD', new TextValue("REQUEST"));

[2022-06-22 10:33] morojosa commented on #427
For add feature need next steps.

1. Create File Eluceo\iCal\Domain\Enum\CalendarMethod.
2. Update Eluceo\iCal\Presentation\Factory\CalendarFactory.
3. Update Eluceo\iCal\Domain\Entity\Calendar

[2022-07-08 08:34] xCamacho91 opened #434 "The organizer's e-mail changes the @ to %40"
When the organizer's email is set and after urlencode($this->emailAddress) it is turning the @ into %40, do you have any way around this?

[2022-08-19 12:02] cblaze22 opened #439 "ICS and calendar agent causing a lot of requests for past events on my asp.net mvc endpoint"
Does anyone using iCal know how to fix this?

https://stackoverflow.com/questions/73024648/ics-and-calendar-agent-causing-a-lot-of-requests-for-past-events-on-my-asp-net-m

[2022-09-04 07:45] bicpi commented on #263
I tried with an upgrade to v2.7.0; the `.ics` file still cannot be imported into a Mac's calendar because of the `TZ` setting:

[code]

Output:

[code]

Changing the `TZID` manually to `TZID=UTC` makes it work:

[code]

[2022-09-11 16:06] acirulis commented on #383
I would like to add some custom extensions from https://en.wikipedia.org/wiki/ICalendar#Calendar_extensions and found this issue. Would it be possible to make getProperties() protected, as suggested, or implement custom extension adding functionality? Thanks!

[2022-09-29 10:45] JorisDebonnet commented on #434
I also had this issue. It also happens with the new Attendees feature.

The problem is the EmailAddress:toUri method which replaces the @ by %40.

I temporarily "fixed" this by simply replacing %40 back to @ in my final output, but of course that's not ideal. Perhaps when I have more time I'll create a PR, although anyone else also could.

[2022-09-29 10:54] JorisDebonnet commented on #390
This may be caused by #434, which has a fix in #444.

[2022-10-24 07:50] Schuchmann opened #453 "eluceo/ical 2.7.0 conflicts with php 7.4.6"
Hi,
I am trying to install eluceo/ical with this command

[code]
But this fails. Can anyone help?

[2022-10-24 23:11] markuspoerschke commented on #453
PHP 7.4.6 is broken. See https://github.com/markuspoerschke/iCal/pull/162.

Solution: Don't use PHP 7.4.6 and update PHP to the latest 7.4.* version which is 7.4.32.

[2022-10-24 23:11] #453 closed, assigned to nobody

[2022-11-07 11:05] rsereir commented on #427
Hello,

Someone have any news for this point ?

[2022-11-22 14:12] janpawellek opened #462 "Invalid iCal generated when DateTimeZone is UTC"
Code to reproduce:

[code]

This generates iCal that contains properties like this:

[code]

However `TZID=UTC` is not allowed according to [the specs](https://icalendar.org/iCalendar-RFC-5545/3-2-19-time-zone-identifier.html): **The "TZID" property parameter MUST NOT be applied to DATE properties and DATE-TIME or TIME properties whose time values are specified in UTC.**

When this iCal export is